.box {
    width: 100px;
    height: 100px;
    background: yellow;
    padding: 20px;
    border: 10px solid red;
}

.box2 {
    box-sizing: border-box;

    width: 100px;
    height: 100px;
    background: yellow;
    padding: 20px;
    border: 10px solid red;
}
   